html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: #fafafa;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

